* {
    margin: 0;
    padding: 0;
}

.raleway-raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.raleway-inter {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* all text color */
.mini-text {
    color: #00000082;
}



/* Navbar Section */

nav a {
    text-decoration: none;
    color: #4E47FF;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px;
}

nav button {
    background-color: #4E47FF;
    color: white;
    font-weight: 300;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}

.button-style {
    background-color: #4E47FF;
    color: white;
    font-weight: 300;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.button-style span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button-style span::after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button-style:hover {
    padding-right: 25px;
    background-color: black;
    color: white;
}

.button-style:hover span::after {
    opacity: 1;
    right: 0;
}


/* main */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* Banner Section */
.main-hader-contant {
    display: flex;
    max-width: 1140px;
    margin: 100px auto;
    justify-content: center;
}

.button-gap {
    margin-top: 30px;
    margin-bottom: 100px;
}

.hader-contant {
    text-align: center;
}

.backround-img {
    background-image: url("../Assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 1440px;
}

/* Action Section */
.action-text-main {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.img-style {
    border-radius: 48px;
    height: 328px;
    width: 403px;
}

.p-tag-gap {
    margin-top: 23px;
    margin-bottom: 23px;
    font-weight: 517px;
}

.h-tag-color {
    color: #252432;
    font-weight: 517px;
}

.btn-tag-gap {
    margin-top: 23px;
}

/* Productive Users Section */
.frame-main {
    margin-top: 116px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
    text-align: center;
    padding: 50px 142px;
}

.user-count {
    display: flex;
    justify-content: space-around;
}

.user-info-main {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.frame-main-text-gap {
    margin: 50px 142px 40px;
    color: rgba(37, 36, 50, 1);
    font-weight: bold;
}

.user-info {
    color: rgba(0, 0, 0, 0.5);
}

.count-text {
    color: #4E47FF;
    font-weight: bold;
    font-size: 30px;
}

.count-title {
    align-items: center;
}



/* Users’ Feedback Section style */
.feed-text {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 40px;
}

.img-style-r {
    display: flex;
    height: 20px;
    width: 20px;
    margin-bottom: 20px;
}

.reviewer {
    display: flex;
}

.reviewer-info {
    margin-left: 12px;
}

.reviewer-img-border {
    height: 40px;
    width: 40px;
    border-radius: 999px;
}

.feedback-title {
    height: 243px;
    max-width: 330px;
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.5);
    border: rgba(242, 237, 237, 1) solid 1px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.feedback-section {
    display: flex;
}

.card-show {
    display: flex;
    gap: 20px;
}

/* optional */
.op-img {
    height: 360px;
    border-radius: 48px;
}

.optional-style {
    text-align: center;
    max-width: 1140px;
    background-color: rgb(245, 237, 237);
    border-radius: 14px;
    margin-top: 137px;
    padding: 20px;
}

.op-main-text {
    margin: 71px 312px 12px 312px;
}

.op-btn {
    margin: 20px;
}


.touch-section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 632px;
    max-width: 1140px;
}

.get-touch {
    display: block;
}

.all-block {
    display: block;
    width: 100%;
}

.text-touch {
    font-size: 70px;
}

.text-bold {
    font-weight: bold;
    margin-bottom: 10px;
}

.input-style {
    border: rgba(214, 221, 237, 1) 1px solid;
    height: auto;
    min-height: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 20px 32px;
}

.textarea {
    border: rgba(214, 221, 237, 1) 1px solid;
    height: auto;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 20px 32px;
    color: #00000082;
}

/* Footer Section */
footer {
    margin-bottom: 50px;
}

.footer-style {
    display: block;
    text-align: center;
    max-height: 190px;
}

footer ul li a {
    text-decoration: none;
    color: #00000082;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li {
    list-style: none;
    padding: 20px;
}

.logo {
    font-size: 80px;
    color: #4E47FF;
}